body{
	background-color: #FCFCFC;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
	width: 98%;
}
.disabled-link{
	color: #979797;
	text-decoration: none;
	cursor: none;
}
.rich-panelbar-header{
	padding: 4px 1px 4px 5px;
}
.rich-panelbar-header-act{
	padding: 4px 1px 4px 5px;
}
.rich-mpnl-shadow{
	filter: alpha(opacity = 3);
	opacity: 0.03;
}
.rich-filter-input {
width: 100%;
}
.no-padd{
	padding: 0;
}
.no-border{
	border: none;
}
.rich-panel{
	margin-bottom: 0;
}
.menu-row{
	background-color: transparent;
	padding: 3px 1px;
	cursor: pointer;
	vertical-align: middle;
}
.menu-row:hover{
	background-color: #f1f1f1;
}
.a-center{
	text-align: center;
}
.valign-top{
	vertical-align: top;
}
.valign-center{
	vertical-align: center;
}
.red{
	color: red;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
input[type='submit'], input[type='reset'], input[type='button'] {
	padding: 2px 6px;
}
.rich-table-subheader {
	text-align: left;
	background-image: url('../image/column.png');
}
.col-action {
	width: 20px;
	text-align: center;
}
.col-left {
	text-align: left;
}
.col-center {
	text-align: center;
}
.col-top {
	vertical-align: top;
}
.col-username{
	width: 100px;
	text-align: center;
}
.menu-link{
	text-decoration: none;
	color: #494949;
}
.spacing{
	margin-left: 25px;
}
.col-top{
	vertical-align: top;
}
.col-middle{
	vertical-align: middle;
}
.rich-datascr-inact {
    border-top-color: #BED6F8;
    color: #BED6F8;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    border-top-style: solid;
    border-top-width: 2px;
    cursor: pointer;
    text-align: center;
    width: 25px;
    background-color: #fff;
}
.rich-datascr-act {
    border-top-color: #000000;
    color: #000000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    border-top-style: solid;
    border-top-width: 2px;
    text-align: center;
    width: 25px;
    background-color: #fff;
}
.rich-datascr-button{
	width: 25px;
	background-color: #fff;
}


.panel_Grid
{
	border: solid #0698a5 1px;
	
}

.ViewCol1{
	vertical-align: top;
	width: 305px;	
}

.ViewCol2{
	
}

.ViewCol3{
	width:305px;
	vertical-align: top;
		
}