<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title><h:outputText
		value="#{bundle['site.header']} - #{bundle['page.login']}" /></title>
<link rel="shortcut icon" href="favicon.ico" />
<a4j:loadStyle src="resource:///resource/css/style.css" />
</head>
<body>
	<f:view>
		<h:form>
			<rich:panel
				style="width: 290px; height: 400px; margin-top:70px;margin-left: auto;margin-right: auto;">
				<a4j:region>
					<h:panelGroup layout="block" style="text-align: center;">
						<h:graphicImage value="/resource/image/mylogo.jpg"
							width="240" />
					</h:panelGroup>

					<h:panelGrid columns="1" cellpadding="1" cellspacing="1"
						style="margin-top:5px;">

						<h:outputLabel value="#{bundle['lbl_username']} :"
							for="input_username" style="margin-bottom:4px;" />
						<h:inputText id="input_username" value="#{loginPage.username}"
							maxlength="20" required="true"
							style="margin-bottom:14px;font-size: 14px;width: 242px;padding: 3px 4px;"
							requiredMessage="#{bundle['ntf_username']}" />

						<h:outputLabel value="#{bundle['lbl_passwd']} :"
							for="input_passwd" style="margin-bottom:4px;" />
						<h:inputSecret id="input_passwd" value="#{loginPage.password}"
							style="margin-bottom:14px;font-size:14px;width: 242px;padding: 3px 4px;"
							required="true" requiredMessage="#{bundle['ntf_passwd']}" />
						<h:panelGroup layout="block" style="margin-bottom:4px;">
							<h:selectBooleanCheckbox value="false"
								style="vertical-align: text-bottom;padding-left: 0;padding-top:1px;" />
							<h:outputText value="#{bundle['remember.me']}"
								style="color: #595959;vertical-align: 2px;" />
							<h:commandButton action="#{loginPage.login}"
								value="#{bundle['btn.enter']}" style="float:right" />
							<br />

						</h:panelGroup>

						<h:panelGroup layout="block">
							<rich:messages style="margin:0;padding:0;" errorClass="red" />
						</h:panelGroup>

					</h:panelGrid>
				</a4j:region>
				<a4j:commandLink action="FORGOT_PASSWORD" ajaxSingle="true"
					value="Şifremi unuttum" />
			</rich:panel>

		</h:form>

	</f:view>
</body>
</html>