<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<title>TELEFON DEFTERİ</title>


</head>
<body>
	<a4j:keepAlive ajaxOnly="true" beanName="personListBean"></a4j:keepAlive>
	<h:form id="mainForm">
		<rich:dataTable value="#{personListBean.persons}" var="person"
			rows="10" id="table" width="900px" height="200px">
			<f:facet name="header">KİŞİLER</f:facet>
			<rich:column sortBy="#{person.name}" id="nameColumn"
				filterBy="#{person.name}" filterEvent="onkeyup">
				<f:facet name="header">AD</f:facet>
				<h:outputText value="#{person.name}" />
			</rich:column>
			<rich:column sortBy="#{person.surname}" id="surnameColumn"
				filterBy="#{person.surname}" filterEvent="onkeyup">
				<f:facet name="header">SOYAD</f:facet>
				<h:outputText value="#{person.surname}" />
			</rich:column>
			<rich:column sortBy="#{person.country}" id="countryColumn"
				filterBy="#{person.country}" filterEvent="onkeyup">
				<f:facet name="header">ÜLKE</f:facet>
				<h:outputText value="#{person.country}" />
			</rich:column>
			<rich:column sortBy="#{person.city}" id="cityColumn"
				filterBy="#{person.city}" filterEvent="onkeyup">
				<f:facet name="header">ŞEHİR</f:facet>
				<h:outputText value="#{person.city}" />
			</rich:column>
			<rich:column sortBy="#{person.adress}" id="adressColumn"
				filterBy="#{person.adress}" filterEvent="onkeyup">
				<f:facet name="header">ADRES</f:facet>
				<h:outputText value="#{person.adress}" />
			</rich:column>
			<rich:column sortBy="#{person.gsm}" id="gsmColumn"
				filterBy="#{person.gsm}" filterEvent="onkeyup">
				<f:facet name="header">GSM</f:facet>
				<h:outputText value="#{person.gsm}" />
			</rich:column>
			<rich:column sortBy="#{person.phone}" id="phoneColumn"
				filterBy="#{person.phone}" filterEvent="onkeyup">
				<f:facet name="header">TELEFON</f:facet>
				<h:outputText value="#{person.phone}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Degiştir" />
				</f:facet>
				<a4j:commandButton value="Değiştir"
					action="#{personListBean.openEditPanel}" reRender="edit">
					<f:setPropertyActionListener
						target="#{personListBean.currentPerson}" value="#{person}" />
				</a4j:commandButton>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Sil" />
				</f:facet>
				<a4j:commandButton value="Sil"
					action="#{personListBean.deleteRecord}" reRender="mainForm">
					<f:setPropertyActionListener
						target="#{personListBean.currentPerson}" value="#{person}" />

				</a4j:commandButton>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller renderIfSinglePage="false" maxPages="5" />
			</f:facet>
		</rich:dataTable>
		<a4j:commandButton value="Ekle" reRender="addNew"
			action="#{personListBean.openAddPanel}">
			<f:setPropertyActionListener target="#{personListBean.showAddPanel}"
				value="true" />
		</a4j:commandButton>
	</h:form>

	<a4j:outputPanel id="addNew">
		<rich:modalPanel id="addPanel" showWhenRendered="true"
			autosized="true" resizeable="false"
			rendered="#{personListBean.showAddPanel}">
			<h:form id="addForm">
				<h:panelGrid columns="2">
					<h:outputText value="Ad" />
					<h:inputText value="#{personListBean.currentPerson.name}" />
					<h:outputText value="Soyad" />
					<h:inputText value="#{personListBean.currentPerson.surname}" />
					<h:outputText value="Ülke" />
					<h:inputText value="#{personListBean.currentPerson.country}" />
					<h:outputText value="Şehir" />
					<h:inputText value="#{personListBean.currentPerson.city}" />
					<h:outputText value="Adres" />
					<h:inputTextarea value="#{personListBean.currentPerson.adress}" />
					<h:outputText value="GSM" />
					<h:inputText value="#{personListBean.currentPerson.gsm}" />
					<h:outputText value="Telefon" />
					<h:inputText value="#{personListBean.currentPerson.phone}" />
				</h:panelGrid>
				<a4j:commandButton value="Kaydet" reRender="addNew,mainForm"
					immediate="false" action="#{personListBean.saveNewRecord}">
					<f:setPropertyActionListener
						target="#{personListBean.showAddPanel}" value="false" />
				</a4j:commandButton>
				<a4j:commandButton value="İptal" reRender="addNew,mainForm"
					immediate="false" action="#{personListBean.cancelNewRecord}">
				</a4j:commandButton>

			</h:form>
		</rich:modalPanel>
	</a4j:outputPanel>

	<a4j:outputPanel id="edit">
		<rich:modalPanel id="editPanel" showWhenRendered="true"
			autosized="true" resizeable="false"
			rendered="#{personListBean.showEditPanel}">
			<h:form id="editForm">
				<h:panelGrid columns="2">
					<h:outputText value="Ad" />
					<h:inputText value="#{personListBean.currentPerson.name}" />
					<h:outputText value="Soyad" />
					<h:inputText value="#{personListBean.currentPerson.surname}" />
					<h:outputText value="Ülke" />
					<h:inputText value="#{personListBean.currentPerson.country}" />
					<h:outputText value="Şehir" />
					<h:inputText value="#{personListBean.currentPerson.city}" />
					<h:outputText value="Adres" />
					<h:inputTextarea value="#{personListBean.currentPerson.adress}" />
					<h:outputText value="GSM" />
					<h:inputText value="#{personListBean.currentPerson.gsm}" />
					<h:outputText value="Telefon" />
					<h:inputText value="#{personListBean.currentPerson.phone}" />
				</h:panelGrid>
				<a4j:commandButton value="Kaydet" reRender="edit,mainForm"
					action="#{personListBean.editRecord}">
					<f:setPropertyActionListener
						target="#{personListBean.showEditPanel}" value="false" />
				</a4j:commandButton>
				<a4j:commandButton value="İptal" reRender="edit" immediate="false"
					action="#{personListBean.cancelEditRecord}">

				</a4j:commandButton>

			</h:form>
		</rich:modalPanel>
	</a4j:outputPanel>
</body>
</html>